<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <title>Home Page</title>
    
</head>
<body>
 
    <div class="main-content">
    {{>header}}
    <h2>Enter name of your city to get weather information.</h2>
    
    <form action="" class="form-group" >
        <input type="text" placeholder="Enter Location" class="form-control">
        <button class="btn btn-success btn-md btn-block">Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>

    </div>

    {{>footer}}

    <script src='js/clientSide.js'></script>
</body>

</html>