<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/images/weather.png">
    <title>Home Page</title>
</head>
<body>
 
    <div class="main-content">
    {{>header}}
    <h2>Enter name of your city to get weather information.</h2>
    </div>
    {{>footer}}
</body>
</html>