*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

h1{
    color: black;
    font-size: 64px;
    margin-bottom: 16px;
}
h2{
    margin-top: 60px;
    color: rgb(70, 66, 66);
    line-height: 1.5rem;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main-content{
    flex-grow: 1;
    font-family: 'Ubuntu Condensed', sans-serif;
    margin: 0 auto;
    max-width: 900px;
    padding: 50px 30px;
    word-spacing: 0.3rem;
    letter-spacing: 0.2rem;
}
    
footer{
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 0.2rem;
    word-spacing: 0.3rem;
    background-color:darkgray;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

header a{
    text-decoration: none;
    color: grey;
    margin-right: 16px;
    margin-top: 20px;
}
/* div{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 900px;
    padding: 10px 30px;
} */